.menu {
  padding-bottom: 9px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 62px;
}

.menu__link {
  font-size: 16px;
  text-decoration: none;
}

.menu__link:hover {
  color: #00A3FF;
}