.separator {
  background: #17191C url('../img/19629\ 1.png') right 14% bottom no-repeat;
  min-height: 362px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  color: #fff;
}

.separator__content {
  max-width: 40%
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
}
